body {
  margin: 0;
  padding: 9;
  text-align: center;
  background: black;
  color: white;
}
h1,
h2,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
h3 {
  font-size: 21px;
  font-weight: 200;
  color: gray;
}
a {
  color: aquamarine;
  font-size: 16px;
}
img {
  margin: auto;
}
.copyright {
  text-align: right;
  color: gray;
  margin: 1rem;
}
